/* universal settings for webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* main webpage background color*/
body {
    background-color: #d9dcd6;
}

/* padding for the header and side column*/
.header,
.benefits {
    padding: 20px;
}

/* font of the header and footer*/
.header,
.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* text color of titles*/
.header,
a,
.benefit-lead,
.benefit-brand,
.benefit-cost,
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    color: #ffffff;
}

/* color of header background*/
.header {
    background-color: #2a607c;
}
/* main content outline*/
.header h1,
.header section ul li,
.content {
    display: inline-block;
}

.header h1 {
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* main section's font*/
.header section,
.benefits,
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* font size of smaller headers and footer*/
.header section,
.footer h2 {
    font-size: 20px;
}

.header section,
.benefits {
    margin-right: 20px;
}

.header section,
.float-right,
.benefits {
    float: right;
}

.header section {
    padding-top: 15px;
}

.header section ul {
    list-style-type: none;
}

.header section ul li,
.float-right {
    margin-left: 25px;
}

a {
    text-decoration: none;
}

/* paragraph font size*/
p {
    font-size: 16px;
}

/* main website image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    margin-left: 20px;
}

.benefits,
.footer {
    clear: both;
}

.benefits {
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/* side column bottom margin*/

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
}

/* side column title bottom margin*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
}
/* side column title text alignment*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3,
.footer {
    text-align: center;
}
/* side column settings*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    margin: 10px auto;
    display: block;
    max-width: 150px;
}

/* bottom margin of main paragraph and titles */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing,
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
}

/* additional section title settings*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    padding: 50px;
    background-color: #0072bb;
    height: 300px;
}
/* max height of secondary images*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* size of the three titles*/ 

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    font-size: 36px;
}

.footer {
    padding: 30px;
}
